* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfbdd1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 50px 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#box {
    /*aspect-ratio: 1 / 1;*/
    width: 100%;
    height: auto;
    background-color: beige;
}